


<!--App Component-->
<h4>This is {{nameParrentString}}</h4>
<p>Show Number of Parrent ==> {{numberParrentIng}}</p>
<p style="color: #ff3243">Show Nuber of Child ==>{{numberFromChild}}</p>
<button (click)="onClickIncreaseNumberParrent()">Increase NumberParrent</button>

<br/><br/>

<input #nameInput type="text" [placeholder]="namePlaceHolder" >
<button (click)="onClickSentToChild(nameInput.value)">Sent to Child</button>

<br/>

<h4>Name From Input Parrent ==>{{nameInputParrentString}} </h4>

<br/><br/>

<hr/>




<!--Chid Component-->
<app-childcomponent (eventIncreaseChild)="onchangeChild($event)"
                    [nameFromParrent]="nameChildString"
                    [numberFromParrent]="numberParrentIng"
                    [nameInputFromParrent]="nameInputSentToChild" >

</app-childcomponent>

